<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pick a sport</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <script type="text/javascript" src="{% static 'js/tlo.js' %}"></script>
    <style>
        aside{background-image: linear-gradient(to bottom right, #4CAF50, #1E8449);}
        footer{background-image: linear-gradient(to top left, #4CAF50, #1E8449);}
        body{background-color: #FFFFFF;}
        a{
            color:#ffffff;
        }
    </style>
</head>
<body>
<div>
<header>
</header>
    <aside id="pasek">
        <nav id="navigation">
            <ul>
                <li id="home"><a  href="/InfoSportsApp/home">Strona główna</a></li>
                <li id="f1"><a href="/InfoSportsApp/f1"> Formula 1</a></li>
                <li id="tenis"><a  href="/InfoSportsApp/tenis">Tenis</a></li>
            </ul>

        </nav>

    </aside>

    <main>

    </main>
    <footer>
        <div id="autor">Wykonał Hubert Szelepusta</div>
    </footer>
</div>
</body>
</html>