<!DOCTYPE html>
<html lang="en">
<head>

    <title>Strona główna</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <script type="text/javascript" src="{% static 'js/tlo.js' %}"></script>
</head>
<body>
    <div id="container">
    <header>
    </header>
        <aside id="pasek">
        <nav id="navigation">
            <ul>
                <li id="football"><a  href="/InfoSportsApp/football">Piłka nożna</a></li>
                <li id="f1"><a href="/InfoSportsApp/f1"> Formula 1</a></li>
                <li id="tenis"><a  href="/InfoSportsApp/tenis">Tenis</a></li>
            </ul>

        </nav>
        </aside>
        <main>
        </main>
        <footer>
            <div id="autor">Wykonał: Hubert Szelepusta</div>
        </footer>
    </div>
</body>
</html>